body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f4f8;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #113068;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 40px;
    filter: invert(100%);
}
header .logo h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

header button {
    background-color: #00cec9;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

main {
    flex-grow: 1;
    padding: 2rem;
    text-align: center;
}

.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
}

.book {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1e293b;
    color: white;
    margin-top: auto;
}

footer .social-links a {
    color: #6cd9d7;
    margin: 0 5px;
    text-decoration: none;
}

footer .social-links a:hover {
    text-decoration: underline;
}
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 12px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.login-btn {
    background-color: #00cec9;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #007f7e;
}
.logo{
    cursor: pointer;
}