.admin-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-header h1 {
    font-size: 24px;
    color: #2c3e50;
}

.admin-header button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.admin-header button:hover {
    background-color: #2980b9;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.admin-table th,
.admin-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.admin-table th {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}

.admin-table tr:hover {
    background-color: #f1f1f1;
}

.admin-table button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.admin-table button:hover {
    

}


.admin-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.admin-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #2c3e50;
}



@media (max-width: 768px) {
    .admin-container {
        padding: 10px;
    }

    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .admin-table th,
    .admin-table td {
        padding: 8px;
    }
}