
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10%;
    position: relative;
    z-index: 2;
}


.sort-by-year,
.sort-by-genre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-by-year img,
.sort-by-genre img {

    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.sort-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.background-for-search{
    position: relative;
    background-color: #ffffff;
    min-height: 44vh;
    padding-bottom: 2rem;
}

.sort-options label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

.sort-options input {
    /*display: flex;*/
    padding: 15px;
    background: #e1e8ef;
    /*width: calc(100% - 20px);*/
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.sort-options input:focus {
    outline: none;
    background: #bccee0;
    border: 1px solid #00cec9;
}
button {
    padding: 10px 15px;
    background: #00cec9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #0092b3;
}
.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Responsive grid */
    gap: 0.8rem;
    padding-top: 0;
    margin-top: 2rem; 
    padding-left: 6rem;
    padding-right: 6rem;
    transition: margin-top 0.3s ease;
}

.load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #b1541e;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.load-more:hover {
    background: #7a3a14;
}

.sort-by-year.active + .sort-options,
.sort-by-genre.active + .sort-options {
    display: flex;
    margin-bottom: 2rem;
}
.sort-by-year.active img,
.sort-by-genre.active img {
    transform: rotate(180deg);
}

.sort-by-year.active + .sort-options,
.sort-by-genre.active + .sort-options {
    display: block;
}
@media (max-width: 768px) {
    .search {
        flex-direction: column;
        padding: 0 5%;
    }
    .books-list {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 3rem;
    }
    .sort-by-year,
    .sort-by-genre {
        max-width: 100%; 
        text-align: center;
    }
    #filterTags {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .background-for-search{
        min-height: auto;
        padding-bottom: 1rem;
    }
}
.selected-filters {
    margin: 1rem 0;
    padding: 0 6rem;
}

.selected-filters h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

#filterTags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 4rem;
    
}

.filter-tag {
    background-color: #e75c5c;
    color: #ffffff;
    padding-left: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

.filter-tag:hover {
    background-color: #7a3a14;
}

.filter-tag .remove-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 4px;
}

.filter-tag .remove-button:hover {
    color: #ffffff;
}
